[Unit]
Description=packet forwarder
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Restart=always
RestartSec=250ms
StartLimitBurst=0

WorkingDirectory=/opt/oc-lora-gw-pf-dev/configs

ExecStartPre=/opt/oc-lora-gw-pf-dev/scripts/gwrst.sh
ExecStartPre=/opt/oc-lora-gw-pf-dev/scripts/update_gwid.sh /opt/oc-lora-gw-pf-dev/configs/local_conf.json
ExecStart=/opt/oc-lora-gw-pf-dev/bin/lora_pkt_fwd

[Install]
WantedBy=multi-user.target
